.wrapper {
    display: flex;
}
    /* de story staat nu in Default.css */
    .story {
        flex-direction: row;
    }
    /* de sidebar */
    .sidebar {
        background: #fafafa;
        position: absolute;
        right: 40px;
        top: 80px;
        height: 200px;
        padding: 5px;
        box-shadow: 0 0 8px -5px #000;
    }
        .sidebar__list {
            list-style: none;
        }
            .sidebar__a {
                text-decoration: none;
                cursor: pointer;
                color: black;
            }
                .sidebar__a:hover {
                    color: #6600ee;
                    transition: .2s;
                }